.signup{
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        gap: 20px;
    }
    .signupfield {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        input {
            max-width: 300px;
            min-width: 100px;
        }
    }
    .signup-info{
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            translate: 0 -20px;
            color: rgb(205, 48, 48);
            font-size: x-small;
        }
    }
}