.login {
    height: 800px;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .loginfield {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .top-text {
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .create-account-helper {
        margin-top: 1rem;
        font-size: 1.5rem;
        text-align: center;

        div {
            display: inline;
            margin-right: 1rem;
        }
        
        a {
            text-decoration: underline;
            color: #00ADB5;
        }
    }
}

#full-size {
    margin-top: 2rem;
    width: 100%;
    height: 50px;
}