.login{
    scale: 200%;
    text-align: center;
    transform: translate(0, 40%);
    margin: 0 25%;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .loginfield {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        input {
            max-width: 300px;
            min-width: 100px;
        }
    }
}
.login-buttons {
    a {
        font-size: 10px;
        transform: translate(80px, -20px);
    }
    a:hover {
        cursor: pointer;
        color: #2596b9;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infotext{ 
    width: 170px;
    font-size: small;
    text-align: center;
    small {
        position: absolute;
        font-size: 10px;
        color: rgb(171, 66, 58);
        translate: 0 -12px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
}
