.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    list-style: none;
    background-color: #2c3030;
    border-bottom: 1px solid #899295;
}

.navlink {
    font-weight: 500;
    font-size: 16;
    color: #edf0f1;
    text-decoration: none;
}

.navitem {
    display: inline-block;
    padding: 0px 20px;
}