.nav-item {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}
.nav-link {
    background-color: #484a4d;
    color: var(--text-color);
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}