.upload-page-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    .info-text {
        font-size: 1.5rem;
        max-width: 500px;
        text-align: center;
    }
}