:root {
    background-color: #1a1d1f;
    --nav-size: 60px;
    --text-color: #fff;
}
body {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #dadce1;
    text-decoration: none;
}

