:root {
    --background-color: #222831;
    background-color: var(--background-color);
    --nav-size: 60px;
    --text-color: #E9F8F9;
    color: var(--text-color);
}
body {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #dadce1;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

